body {
    display: block;
    align: center;
    background: #ffd;
    color: red;
    justify-content: center;
}
.main{
    width:75%;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu_item{
    display: inline-block;
    padding: 10px 15px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}
.menu_item:hover {
    color: white;
    background-color: ivory;
}
.menu_item:first-child{
    border-left: 1px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.menu_item:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

ol{
    color: blue;
}
div{
   background: #facecc;
    width: 75%;
    height: 100%;
    padding: 1px;
    marging: 1px;
    border: 2px solid black;
    border-radius: 15px;
    align-items: center;
    justify-content: center;

}
.div-pic{
    background: #FFFFFF;
    width: 200px;
    height: 100%;
    padding: 5px;
    marging-top: 6px;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    align-items: center;

   }